<mat-toolbar color="primary" backgroundColor="primary">
  <mat-toolbar-row>
    <h2 class="title"><mat-icon>money</mat-icon>CashFlow</h2>
  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>

  <h2 matSubheader>{{ 'Current financial year' | translate }}</h2>

  <a mat-list-item
     routerLink="/transactions"
     routerLinkActive
     #routerLinkActiveInstance="routerLinkActive"
     [class.list-item-active]="routerLinkActiveInstance.isActive">
    <mat-icon color="primary">swap_horiz</mat-icon>
    <span translate>Transactions</span>
  </a>

  <a mat-list-item
     routerLink="/overview/by/code"
     routerLinkActive
     #routerLinkActiveInstance="routerLinkActive"
     [class.list-item-active]="routerLinkActiveInstance.isActive">
    <mat-icon color="primary">bar_chart</mat-icon>
    <span translate>Code overview</span>
  </a>

  <h2 matSubheader>{{ 'Settings' | translate }}</h2>

  <a mat-list-item
     routerLink="/suppliers"
     routerLinkActive
     #routerLinkActiveInstance="routerLinkActive"
     [class.list-item-active]="routerLinkActiveInstance.isActive">
    <mat-icon color="primary">local_shipping</mat-icon>
    <span translate>Suppliers</span>
  </a>
  <a mat-list-item
     routerLink="/accounts"
     routerLinkActive
     #routerLinkActiveInstance="routerLinkActive"
     [class.list-item-active]="routerLinkActiveInstance.isActive">
    <mat-icon color="primary">account_balance_wallet</mat-icon>
    <span translate>Accounts</span>
  </a>
  <a mat-list-item
     routerLink="/codes"
     routerLinkActive
     #routerLinkActiveInstance="routerLinkActive"
     [class.list-item-active]="routerLinkActiveInstance.isActive">
    <mat-icon color="primary">code</mat-icon>
    <span translate>Codes</span>
  </a>

</mat-nav-list>
