.mat-list-item .mat-icon {
  margin-right: .3rem;
}

.title {
  margin-right: 2rem;
}

.title > mat-icon {
  position: relative;
  top: .2rem;
  margin-right: .5rem;
  transform: rotateZ(-20deg);
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}
