<h2 mat-dialog-title translate>Assign code</h2>
<mat-dialog-content>
  <mat-form-field>
    <input type="text" placeholder="{{'Code' | translate}}" matInput [matAutocomplete]="auto" [(ngModel)]="data.codeName" (input)="filterCodes($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let code of filteredCodes$ | async" [value]="code.name">{{code.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'Cancel' | translate}}</button>
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="!isValid">{{'Assign' | translate}}</button>
</mat-dialog-actions>
