<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="{{'Amount' | translate}}" type="number" [(ngModel)]="data.amount" (input)="updateAmount($event.target.value)" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="{{'Date' | translate}}" [(ngModel)]="data.transactionDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="data.mode !== transactionMode.Transfer">
    <mat-select placeholder="{{'Account' | translate}}" [(ngModel)]="data.accountId">
      <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">
        {{account.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="data.mode === transactionMode.Transfer">
    <mat-form-field>
      <mat-select placeholder="{{'Origin account' | translate}}" [(ngModel)]="data.originAccountId">
        <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">
          {{account.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'Destination account' | translate}}" [(ngModel)]="data.destinationAccountId">
        <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">
          {{account.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <mat-form-field *ngIf="data.mode === transactionMode.Expense">
    <mat-select placeholder="{{'Supplier' | translate}}" [(ngModel)]="data.supplierId">
      <mat-option>[{{'None' | translate}}]</mat-option>
      <mat-option *ngFor="let supplier of suppliers$ | async" [value]="supplier.id">
        {{supplier.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'Description' | translate}}" [(ngModel)]="data.description" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'Comment' | translate}}" [(ngModel)]="data.comment" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'Cancel' | translate}}</button>
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="!isValid">{{'Save' | translate}}</button>
</mat-dialog-actions>
