<mat-slide-toggle class="financialYearToggle" (change)="showCodesForAllFinancialYears($event.checked)">{{'Display code for all financial years' | translate}}</mat-slide-toggle>

<div class="gridContainer mat-elevation-z8">
  <table mat-table [dataSource]="codeBalances$" multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef translate>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="totalIncome">
      <th mat-header-cell *matHeaderCellDef translate>Income</th>
      <td mat-cell *matCellDef="let element">{{element.totalIncomeInCents / 100 | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="totalExpense">
      <th mat-header-cell *matHeaderCellDef translate>Expense</th>
      <td mat-cell *matCellDef="let element">{{element.totalExpenseInCents / 100 | number:'1.2-2'}}</td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef translate>Balance</th>
      <td mat-cell *matCellDef="let element">{{element.balanceInCents / 100 | number:'1.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="elementDetail"
             [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">

          <div class="elementDetailContent" *ngIf="element === expandedElement && getCodeTransactions(element.name) | async as transactions;else no_transactions">
            <table mat-table [dataSource]="transactions" class="mat-elevation-z2 transactions">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef translate>Date</th>
                <td mat-cell *matCellDef="let transaction">{{transaction.transactionDate | date}}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef translate>Description</th>
                <td mat-cell *matCellDef="let transaction">
                  {{transaction.description}}
                </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef translate>Amount</th>
                <td mat-cell *matCellDef="let transaction">
                  {{transaction.amountInCents / 100 | number:'1.2-2'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['date', 'description', 'amount']"></tr>
              <tr mat-row *matRowDef="let transaction; columns: ['date', 'description', 'amount'];"></tr>
            </table>
          </div>

          <ng-template #no_transactions>
            <div class="elementDetailContent">
              Loading...
            </div>
          </ng-template>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="elementRow" [class.expanded]="element === expandedElement" (click)="expandElement(element)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="elementDetailRow"></tr>
  </table>
</div>
