.gridContainer {
  max-height: calc(100vh - 11rem);
  overflow: auto;
}

.elementDetailRow {
  height: 0;
}

.elementRow:not(.expanded):hover {
  background: #eeeeee;
}

.elementRow:not(.expanded):active {
  background: #efefef;
}

.elementRow td {
  border-bottom-width: 0;
}

.elementRow.expanded td {
  font-weight: bold;
}

.elementDetail {
  overflow: hidden;
}

.elementDetailContent {
  padding: .5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.elementDetailContent table {
  width: 80%;
}

.financialYearToggle {
  margin-left: .5rem;
  margin-bottom: 1rem;
}

.iconColumn {
  width: 3rem;
}
