@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

table {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
app-financial-year-selector .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label-wrapper {
  visibility: hidden !important;
}
