@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

table {
  width: 100%;
}
