<p *ngIf="startingBalance$ | async as startingBalance"><span translate>Starting balance:</span> {{startingBalance / 100 | number:'1.2-2'}}</p>
<table mat-table [dataSource]="transactions$" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef translate>Date</th>
    <td mat-cell *matCellDef="let element">{{element.dateCreated | date}}</td>
  </ng-container>
  <ng-container matColumnDef="evidenceNumber">
    <th mat-header-cell *matHeaderCellDef translate>Evidence number</th>
    <td mat-cell *matCellDef="let element">{{element.financialYear.name}}/{{element.evidenceNumber}}</td>
  </ng-container>
  <ng-container matColumnDef="codes">
    <th mat-header-cell *matHeaderCellDef translate>Codes</th>
    <td mat-cell *matCellDef="let element">
      <span *ngFor="let code of element.codes" class="code">{{code.codeName}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef translate>Description</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef translate>Income</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.amountInCents > 0">{{element.amountInCents / 100 | number:'1.2-2'}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="expense">
    <th mat-header-cell *matHeaderCellDef translate>Expense</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.amountInCents < 0">{{-element.amountInCents / 100 | number:'1.2-2'}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef translate>Balance</th>
    <td mat-cell *matCellDef="let element">{{element.balanceInCents / 100 | number:'1.2-2'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
