.filters {
  width: 100%;
  padding: 0;
  position: relative;
}

.filters .startingBalance {
  position: absolute;
  top: .8rem;
  right: .5rem;
  display: inline-block;
  background-color: #e5e5e5;
  padding: .1rem .6rem .1rem .6rem;
  border-radius: .2rem;
}

.gridContainer {
  max-height: calc(100vh - 15rem);
  overflow: auto;
}

.code {
  display: inline-block;
  background-color: #e5e5e5;
  padding: .2rem .4rem .2rem .4rem;
  font-size: 11px;
  border-radius: .2rem;
  margin-right: .5rem;
  white-space: nowrap;

  button {
    padding: 0;
    top: .2rem;
  }
}

.codeButton, .codeButton .mat-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}

.assignCodeButton {
  background-color: #e5e5e5;
  border-radius: .6rem;
  width: 18px;
  height: 18px;
  padding: .6rem;
}

.addTransactionButtons {
  margin-top: 1.5rem;
}

.addTransactionButtons button {
  margin-right: 1rem;
}

.iconColumn {
  width: 3rem;
}

tr.internalTransfer {
  background-color: rgba(255, 255, 0, .1);
}

.mat-column-description .mat-mdc-icon-button,
.mat-column-evidenceNumber .mat-icon-button {
  width: 0;
  opacity: 0;
  transition: width .3s, opacity .3s;
}

.mat-column-description:hover .mat-mdc-icon-button,
.mat-column-evidenceNumber:hover .mat-icon-button {
  width: 40px;
  opacity: 1;
  transition: width .3s, opacity .3s;
}
