<div class="mat-elevation-z8">
  <div class="filters">
    <mat-tab-group class="account" *ngIf="accounts$ | async as accounts"
                   [mat-stretch-tabs]="false"
                   [selectedIndex]="accounts.indexOf(selectedAccount$ | async) + 1"
                   (selectedIndexChange)="selectAccount($event > 0 ? accounts[$event - 1] : null)">
      <mat-tab [label]="'All' | translate"></mat-tab>
      <mat-tab *ngFor="let account of accounts; let index = index" [label]="account.name"></mat-tab>
    </mat-tab-group>

    <span class="startingBalance"><span translate>Starting balance</span>: {{(startingBalance$ | async) / 100 | number:'1.2-2'}}</span>
  </div>

  <div class="row row__header">
    <div class="col" translate>Date</div>
    <div class="col" translate>Evidence number</div>
    <div class="col" translate>Codes</div>
    <div class="col" translate>Description</div>
    <div class="col col__money" translate>Income</div>
    <div class="col col__money" translate>Expense</div>
    <div class="col col__money" translate>Balance</div>
    <div class="col"></div>
  </div>

  <cdk-virtual-scroll-viewport class="gridContainer" itemSize="48" minBufferPx="200" maxBufferPx="400" *ngIf="transactions$ | async as transactions">
    <div class="row" *cdkVirtualFor="let transaction of transactions" [ngClass]="{'internalTransfer': transaction.isInternalTransfer}">
      <div class="col">{{transaction.transactionDate | date}}</div>
      <div class="col col__evidenceNumber">
        <span>{{transaction.evidenceNumber}}</span>
        <button *ngIf="!transaction.evidenceNumber" mat-icon-button class="col__actionButton" (click)="assignEvidenceNumber(transaction)" matTooltip="{{'Assign evidence number' | translate}}"><mat-icon>add</mat-icon></button>
        <button *ngIf="transaction.evidenceNumber" mat-icon-button class="col__actionButton" (click)="unassignEvidenceNumber(transaction)" matTooltip="{{'Unassign evidence number' | translate}}"><mat-icon>clear</mat-icon></button>
      </div>
      <div class="col">
        <div class="code" *ngFor="let code of transaction.codes">
          {{code.codeName}}
          <button class="code__button" mat-icon-button (click)="unassignCode(transaction, code)" matTooltip="{{'Unassign code' | translate}}"><mat-icon>close</mat-icon></button>
        </div>
        <button *ngIf="transaction.codes.length === 0" mat-icon-button class="code__button code__button__assign" (click)="assignCode(transaction)" matTooltip="{{'Assign code' | translate}}"><mat-icon>add</mat-icon></button>
      </div>
      <div class="col col__description" (click)="editDescription(transaction)">{{transaction.description}}</div>
      <div class="col col__money">
        <span *ngIf="transaction.amountInCents > 0">{{transaction.amountInCents / 100 | number:'1.2-2'}}</span>
      </div>
      <div class="col col__money">
        <span *ngIf="transaction.amountInCents < 0">{{-transaction.amountInCents / 100 | number:'1.2-2'}}</span>
      </div>
      <div class="col col__money">{{transaction.balanceInCents / 100 | number:'1.2-2'}}</div>
      <div class="col">
        <button mat-icon-button class="col__actionButton" (click)="removeLatest(transaction)" matTooltip="{{'Remove latest transaction' | translate}}" *ngIf="isLatestTransaction(transactions, transaction)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<div class="addTransactionButtons">
  <button mat-raised-button color="accent" (click)="addIncome()"><mat-icon>add</mat-icon> <span translate>Income</span></button>
  <button mat-raised-button color="accent" (click)="addExpense()"><mat-icon>add</mat-icon> <span translate>Expense</span></button>
  <button mat-raised-button color="accent" (click)="addTransfer()"><mat-icon>add</mat-icon> <span translate>Transfer</span></button>
</div>
