<mat-toolbar color="primary" class="m-header mat-elevation-z4" fxLayout>
  <span class="title"><mat-icon>money</mat-icon>CashFlow</span>

  <nav mat-tab-nav-bar
       color="primary"
       backgroundColor="primary">
    <a mat-tab-link
       routerLink="/accounts"
       routerLinkActive
       #rlaAccounts="routerLinkActive"
       [active]="rlaAccounts.isActive"
       translate>
      Accounts
    </a>
    <a mat-tab-link
       routerLink="/codes"
       routerLinkActive
       #rlaCodes="routerLinkActive"
       [active]="rlaCodes.isActive"
       translate>
      Codes
    </a>
    <a mat-tab-link
       routerLink="/suppliers"
       routerLinkActive
       #rlaSuppliers="routerLinkActive"
       [active]="rlaSuppliers.isActive"
       translate>
      Suppliers
    </a>

  </nav>
</mat-toolbar>

<div class="mainContainer">
  <router-outlet></router-outlet>
</div>
