<ng-container *ngIf="activeFinancialYear$ | async as activeFinancialYear">
  <button mat-button [matMenuTriggerFor]="menu">
    {{activeFinancialYear.name}}
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let financialYear of financialYears$ | async">
      <button
        *ngIf="financialYear.id !== activeFinancialYear.id"
        mat-menu-item
        (click)="updateActiveFinancialYear(financialYear.id)">
        {{financialYear.name}}
      </button>
    </ng-container>
  </mat-menu>

  <button mat-icon-button class="add-financial-year-button" (click)="addFinancialYear()" matTooltip="{{'Add new financial year' | translate}}"><mat-icon>add</mat-icon></button>
</ng-container>
