<mat-form-field *ngIf="financialYears$ | async as financialYears">
  <mat-select placeholder="{{'Financial year' | translate}}" (selectionChange)="updateActiveFinancialYear($event.value)" [value]="(activeFinancialYear$ | async)?.id">
    <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
      {{financialYear.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-icon-button class="add-financial-year-button" (click)="addFinancialYear()" matTooltip="{{'Add new financial year' | translate}}"><mat-icon>add</mat-icon></button>
